
  
    
    
    body {
          background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/circles.png');
          background-blend-mode: normal;
   
    }
      h1  {
          font-family: sans-serif;
          color: blue; 
          text-align: center;
          font-weight: bold;
          font-size: 50px; 


      }
      h2 {
          font-family: sans-serif;
          font-size: 40px;
      }

    
      p { 
          font-family: sans-serif;
          color: black; 
          text-align: justify;
          font-size: 180%;
          margin: 20px;
          float: none;
          line-height: 120%;
        }
    
      section {
          font-family: sans-serif;
          color: blue; 
          text-align: center;
          border-bottom-color: blue;
        }
    
      body{
          background-color: white;
          padding: 5px;
        }
      

      blockquote {
          text-align: center; 
          font-weight: bold;
          background-color: rgb(153, 153, 255); 
          color: black; 
          font-size: 30px; 
          margin: 55px;
          border-style: solid;
          border-width: medium;
        }
    
      p.zanr, p.autor, p.zdroj {text-align: center;
          text-decoration: underline;
          font-size: 15px;
          margin: 5px;
        }
    
  
