
  <style>
   h1, footer p {color: red; 
                text-align: center;
		text.transform: none; 
     		font-weight: bold;
                font-size: 50px; 
                font-family: Comic Sans MS;}
    
      p {font-family: Comic Sans MS; 
          color: black; 
          text-align: justify;
          font-size: 20px;
          line-height: normal; 
          margin: 20px;
	  float: none;}
    
      section {color: red; 
                background-color: white; 
                font-family: Comic Sans MS;
        	text-align: center;
                border-bottom-color: red;}
    
      body{background-color: white;
    	   padding: 5px;}
      ol{color: black;}
      li {font-size-adjust: auto; 
          font-family: Comic Sans MS; 
          font-size: 20px;}
     
      blockquote {text-align: center; 
		  font-weight: bold;
                  background-color: red; 
                  color: black; 
                  font-size: 30px; 
         	  margin: 55px;
                  border-style: solid;
    		  border-width: medium;}
    
      p.zanr, p.autor, p.zdroj {text-align: center;
        			text-decoration: underline;
        			font-size: 15px;
                                font-style: oblique;
    				margin: 5px;}
    
  </style>
