body {


    margin-right: 300px;
    margin-left: 300px;
    text-align: justify;
    text-justify;
    padding: 90px;


    line-height: 26px;

  }


h1, footer p {color: black; 
                text-align: left;
     		    font-weight: bold;
                font-size: 20px; 
                font-family: Arial;}
    
      p {font-family: Times New Roman; 
          color: black; 
          text-align: left;
          font-size: 17px;
          line-height: normal; 
   		  float: none;}
    
      section {color: black; 
                background-color: white; 
                font-family: Arial;
        		text-align: left;
        		font-size: 12px;}
    
      
      ol{color: black;}
      li {font-size-adjust: auto; 
          font-family: Times New Roman; 
          font-size: 17px;}
     
      blockquote {text-align: center; 
        		  font-family: Times New Roman;
                  background-color: white; 
                  color: black; 
                  font-size: 15px; 
        		  margin: 30px;
                  border-style: solid;
    			  border-width: thin;
      			  border-color: grey;}
    
      p.zanr, p.autor, p.zdroj {text-align: left;
        						text-decoration: underline;
        						font-size: 17px;
                                font-style: normal;
								color: maroon;
    							margin: 5px;}